@{
    ViewData["Title"] = "Universities";
}

<h2 class="mb-4">Available Universities</h2>

<div class="row g-4 university-grid">

    <div class="col-md-4">
        <div class="university-card card-blue">
            <h4>Oxford University</h4>
            <p>United Kingdom</p>
            <a class="btn btn-light mt-3">View Programs</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="university-card card-green">
            <h4>Harvard University</h4>
            <p>United States</p>
            <a class="btn btn-light mt-3">View Programs</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="university-card card-purple">
            <h4>University of Tokyo</h4>
            <p>Japan</p>
            <a class="btn btn-light mt-3">View Programs</a>
        </div>
    </div>

</div>
